body {    
     background: url(https://media.sketchfab.com/models/bde62298ac8640588d5a2928b8e113dc/thumbnails/cea9e18e2bc84efdab1c881a6e6d82c6/a778dd7953b34ab9b9bc92dc2a499598.jpeg);
}

img {
     height: 330px;
     width: 300px;
}

.start {
       width: 50%;
       height: 50%;
       background: url(https://wallpaperaccess.com/full/635136.jpg);
       background-size: 650px 465px;
       background-repeat: no-repeat;
       margin:auto;
       padding: 350px 25px 40px 10px;
       border:4px solid #71412C;
       border-radius:5px;
       box-shadow: 5px 5px 5px #b3a879; 
}

h1 {
   text-align: center;
   color: white;
   font-family: 'Texturina', serif;
   font-size: 35px;
}

.container {           
       width:50%;
       margin:auto;
       padding: 0 25px 40px 10px;
       background-color: green;
       border:4px solid #71412C;
       border-radius:5px;
       color: #FFFFFF;
       font-size: 30px;
       font-family: 'Texturina', serif;
       box-shadow: 5px 5px 5px #b3a879;            
}

.counter { 
        text-align: center;
        color: white;
        font-family: sans-serif;
}

.result {
         font-family: 'Texturina', serif;
         text-align: center;
}

.image {
       margin-left: 165px;
}

.start-btn {
    height: 35px;
    width: 140px;
    font-size: 20px;
    background-color: lightyellow;
    border: 4px double;
    margin-left: 240px;
    color: black;
}
.start-btn:hover {
       background-color: #fcfc92;
       color: black;
}

.reset:hover {
       background-color: #fcfc92;
       color: black;
}

input {
      width: 240px;
      height: 30px;
      margin-left: 140px; 
      font-size: 20px;
}

p {
   text-align: center;
}

.reset {
       margin-left: 240px;
       height: 35px;
       width: 140px;
       font-size: 20px;
       background-color: lightyellow;
       color: black;
       border: 4px double;
}

button {
       height: 35px;
       width: 100px;
       background-color: #71412C;
       border: solid #522f20 2px;
       border-radius: 5px;
       color: white;
       font-size: 20px;
}

button:hover {
           background-color: #45271b;
}
